@model SalesOrderCreditDTO

@{
    var customerId = Convert.ToInt32(ViewData["CustomerId"]);
    var grandTotal = Convert.ToDecimal(ViewData["GrandTotal"]);
}

<form method="post" name="autoSumForm" asp-controller="SalesTransactionCredit"
                    asp-action="AddSalesOrder">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="date">Tổng tiền</label>
                <input type="text" 
                    style="text-align:right" 
                    class="form-control" 
                    id="total" asp-for="@Model.Total"
                    placeholder="Tổng tiền" 
                    value="@grandTotal.ToString("#,###0")" 
                    readonly>
                <input type="hidden" 
                    class="form-control text-right" 
                    id="cid" asp-for="@Model.CustomerId" 
                    value="@customerId">
            </div><!-- /.form group -->
        </div>
    </div>
        <button class="btn btn-lg btn-block btn-primary" 
            id="daterange-btn" name="btnCash" type="submit" tabindex="7">
            Hoàn tất
        </button>
        <button class="btn btn-lg btn-block" id="daterange-btn" type="reset"  tabindex="8">
            <a asp-controller="SalesTransactionCredit" 
                asp-action="CancelOrder"
                asp-route-id="@customerId">Huỷ giao dịch</a>
        </button>
</form>