@model shop.ViewModels.Customer.CustomerDTO

@{
    ViewData["Title"] = "Tài khoản khách hàng | Shop";
}

<style>
img.profile_pic {
    width: 152px;
    height: 125px;
    border: 5px solid #ccc;
    margin-bottom: 10px;
}
</style>

@section contentHeader {
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a class="btn btn-success"
            asp-controller="Customer" asp-action="Index">Trở về</a>
        </h1>
    </section>
}

<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body">
                <form method="post" action="" enctype="multipart/form-data">
                    <img class="profile_pic" src = "uploads/default.gif">
                    <div class="form-group">
                        <label for="date">Tên khách hàng</label>
                        <div class="input-group col-md-12">
                        <h3 style="padding:2px 2px; margin: 2px 2px">@(Model.FirstName) @(Model.LastName)</h3>
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->
                    <div class="form-group">
                        <label for="date">Địa chỉ</label>
                        <div class="input-group col-md-12">
                            @Model.Address
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->
                    <div class="form-group">
                        <label for="date">Liên hệ</label>
                        <div class="input-group col-md-12">
                            @Model.Contact
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->
                    <div class="form-group">
                        <label for="date">Số dư</label>
                            <div class="input-group col-md-12">
                            <h3 style="padding: 2px 2px; margin: 2px 2px">@Model.Balance.ToString("#,###0.00")</h3>
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->
                    @if (Model.Balance > 0) {
                        <a asp-controller="SalesTransactionCredit" asp-action="Index"
                            asp-route-customerId="@Model.Id"
                            class="btn btn-block btn-primary">
                            <i class="glyphicon glyphicon-shopping-cart text-blue"></i>
                                Tạo phiếu bán hàng
                        </a>
                    }
                    
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="">
                    <a href="#fa-icons" data-toggle="tab" 
                        aria-expanded="true">Lịch sử mua hàng </a>
                </li>
                <li class="">
                    <a href="#cash" data-toggle="tab">Lịch sử mua hàng tiền mặt</a>
                </li>
                <li class="">
                    <a href="#payments" data-toggle="tab" 
                        aria-expanded="false">Thanh toán</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="fa-icons">
                    <table id="" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Số #</th>                      
                                <th>SL</th>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Điều khoản</th>
                                <th>Payable for</th>
                                <th>Tổng tiền</th>
                                <th>Ngày đặt</th>
                                <th>Ngày t.toán</th>
                                <th>Tình trạng</th>
                                <th>Xem</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>